pip install asgiref==3.7.2
pip install bottle==0.12.25
pip install cffi==1.16.0
pip install clr-loader==0.2.6
pip install Django==5.0.1
pip install django-cors-headers==4.3.1
pip install djangorestframework==3.14.0
pip install pdfkit==1.0.0
pip install proxy_tools==0.1.0
pip install psycopg==3.1.17
pip install psycopg-binary==3.1.17
pip install pycparser==2.21
pip install pythonnet==3.0.3
pip install pytz==2023.3.post1
pip install pywebview==4.4.1
pip install sqlparse==0.4.4
pip install typing_extensions==4.9.0
pip install tzdata==2023.4