{% extends 'base.html' %}

{% block title %}Calculate Salary Page{% endblock %}

{% block content %}
<style>
	.table td, .table th {
		vertical-align: middle;
		padding: 5px;
		font-size: 13px;
	}

	.table-input{
		height:auto;
		width:80px;
	}

	.selection{
		padding: 5px;
		font-size:10px;
    	align-self: center;
	}
</style>
<div class="modal fade" id="success-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title" id="exampleModalLongTitle">Success</h5>
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="location.reload(true);">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<div class="modal-body">
		  Salary Details Added Successfully
		</div>
	  </div>
	</div>
</div>

<div class="modal fade" id="failure-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
	  <div class="modal-content">
		<div class="modal-header" style="background: rgb(248 155 153);">
		  <h5 class="modal-title" id="exampleModalLongTitle">Error</h5>
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="location.reload(true);">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<div class="modal-body">
			Salary Details Not Added.<br/>Contact Prajyot
		</div>
	  </div>
	</div>
  </div>
<div class="main-container">
	<div class="pd-ltr-20">
	  <div class="container-fluid justify-content-between align-items-center">
		<div>
		  <h2>Calculate Salary</h2>
		  <br />
		  <div class="pd-20 card-box mb-30">
			<div class="clearfix">
			  <div class="pull-left"></div>
			</div>
			<form id="empInfo" method="post">
				<div class="form-group row">
					<label class="col-sm-12 col-md-2 col-form-label">Select</label>
					<div class="col-sm-12 col-md-10" id="select-container">
                    
					</div>
				</div>
				<div class="form-group row">
					<label class="col-sm-12 col-md-2 col-form-label">Month</label>
					<div class="col-sm-12 col-md-10">
						<input class="form-control month-picker" placeholder="Select Month" type="text" name="month" onclick="displaySelectButton()">
					</div>
				</div>
				<button type="button" class="btn btn-primary btn-lg btn p-10" id="submit-button" style="display: block;" onclick="submitForm()">Select</button>


				<table id="month-table" style="display: none;" class="table table-bordered">
					<thead>
					  <tr>
						<th scope="col">Date/Day</th>
						<th scope="col">Start Time</th>
						<th scope="col">End Time</th>
						<th scope="col">Lunch Break</th>
					  </tr>
					</thead>
					<tbody id="next-row">

					</tbody>
				  </table>
				  <div class="form-group row" id="advance_amount" style="display:none">
					<label class="col-sm-12 col-md-2 col-form-label">Advance Amount</label>
					<div class="col-sm-12 col-md-10">
						<input
						id = "advance_amount_placeholder"
						class="form-control"
						type="number"
						placeholder="Enter Advance Amount"
						name="advance_amount"
						value = "0"
					  />
					</div>
				</div>				  
															  
				<div id="input-table" style="display: none;" class="table table-bordered">

				</div>
				
				<button type="button" class="btn btn-primary btn-lg btn p-10" id="calculate-salary-button" style="display: none;" onclick="submitTimeData()">Calculate Salary</button>
			</form>
		  </div>
		</div>
	  </div>
	</div>
  	</div>
  	<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
	  <script>
        document.addEventListener('DOMContentLoaded', function () {
            
            $.ajax({
                type: 'GET',
                url: 'displayEmployee',
                success: function(response) {
                    
                    console.log(response);
    
                    var names = response.names;
                    html = '<select class="custom-select col-12" name="emp_name">';
                        for (var i = 0; i < names.length; i++) {
                            html+= '<option value="'+names[i]+'">'+names[i]+'</option>';
                        }
                    html += "</select>";
                    
					$('#select-container').html(html);

                    // Assuming you want to display the result in some element with id "result"
                    //$('#result').text('Total Working Time: ' + response.total_working_hours + ' hours and ' + response.total_working_minutes + ' minutes');
                },
                error: function(error) {
                    // Handle error
                    console.error('Error:', error);
                }
            });

		});
    </script>
	<script>
		function submitForm(){
			document.getElementById('submit-button').style.display = 'none';
			document.getElementById("calculate-salary-button").style.display = "";
			document.getElementById("month-table").style.display = "";
			document.getElementById("input-table").style.display = "";
			document.getElementById("advance_amount").style.display = "";

			
			var csrfToken = $('[name="csrfmiddlewaretoken"]').val();
			var formData = $('#empInfo').serialize();
			formData += '&csrfmiddlewaretoken=' + csrfToken;
			event.preventDefault();
			$.ajax({
				type: 'POST',
				url: 'selectEmpDataAPI',
				data: formData,
				success: function(response) {
					console.log(response);
					// Assuming response_data contains redirection_url, date_range, and day_range
					//var redirection_url = response_data.redirection_url;
					var date_range = response.date_range;
					var day_range = response.day_range;
					var advance_salary = response.advance_salary;
					console.log(date_range);
					console.log(day_range);
					console.log(advance_salary);
					document.getElementById("advance_amount_placeholder").value = advance_salary;
					html ='';
					for (var i = 0; i < date_range.length; i++) {
					html +='<tr>';
						html += '<th scope="row"><div style="display:flex; flex-direction:column;justify-content: center;padding-right: 20px;">'
							html +=  '<div style="padding:1px">'+date_range[i]+'</div>' ;
							html +=  '<div style="padding:1px">'+day_range[i]+'</div>' ;
						html += '</div>'
						html += '<th scope="row"><div style="display:flex; flex-direction:row;justify-content: space-around;">'
								if (parseInt(response.start_times_hours[i]) > 12){
									html +=  '<input class="form-control table-input" type="text" name="start_hour_'+date_range[i]+'" value="'+((response.start_times_hours[i] !== null && response.start_times_hours[i] !== undefined) ? (response.start_times_hours[i]-12) : '')+'"/>';
									html +=  '<input class="form-control table-input" type="text" name="starting_min_'+date_range[i]+'" value="'+((response.start_times_minutes[i] !== null && response.start_times_minutes[i] !== undefined) ? response.start_times_minutes[i] : '')+'"/>';
									html +=  '<div class="btn-group btn-group-toggle" data-toggle="buttons">';
									html +=	'<label class="btn btn-outline-secondary selection">';
										html +=	'<input type="radio" name="options_start_'+date_range[i]+'" id="option1" autocomplete="off" checked="" value="Morning"> Morning';
									html +='</label>';
									html +='<label class="btn btn-outline-secondary selection active">';
										html +='<input type="radio" name="options_start_'+date_range[i]+'" id="option2" autocomplete="off" value="Evening"> Evening';
									html +='</label>';
								} else{
									html +=  '<input class="form-control table-input" type="text" name="start_hour_'+date_range[i]+'" value="'+((response.start_times_hours[i] !== null && response.start_times_hours[i] !== undefined) ? response.start_times_hours[i] : '')+'"/>';
									html += '<input class="form-control table-input" type="text" name="starting_min_'+date_range[i]+'" value="'+((response.start_times_minutes[i] !== null && response.start_times_minutes[i] !== undefined) ? response.start_times_minutes[i] : '')+'"/>';
									html +=  '<div class="btn-group btn-group-toggle" data-toggle="buttons">';
									html +=	'<label class="btn btn-outline-secondary selection active">';
										html +=	'<input type="radio" name="options_start_'+date_range[i]+'" id="option1" autocomplete="off" checked="" value="Morning"> Morning';
									html +='</label>';
									html +='<label class="btn btn-outline-secondary selection ">';
										html +='<input type="radio" name="options_start_'+date_range[i]+'" id="option2" autocomplete="off" value="Evening"> Evening';
									html +='</label>';
								}
							html +='</div>';							
						html += '</div>'
						html += '<th scope="row"><div style="display:flex; flex-direction:row;justify-content: space-around;">'
								if (parseInt(response.end_times_hours[i]) < 12){
									html +=  '<input class="form-control table-input" type="text" name="end_hour_'+date_range[i]+'" value="'+((response.end_times_hours[i] !== null && response.end_times_hours[i] !== undefined) ? response.end_times_hours[i] : '')+'"/>';
									html +=  '<input class="form-control table-input" type="text" name="ending_min_'+date_range[i]+'" value="'+((response.end_times_minutes[i] !== null && response.end_times_minutes[i] !== undefined) ? response.end_times_minutes[i] : '')+'"/>';
									html +=  '<div class="btn-group btn-group-toggle" data-toggle="buttons">';									
									html +=	'<label class="btn btn-outline-secondary selection active">';
										html +=	'<input type="radio" name="options_end_'+date_range[i]+'" id="option1" autocomplete="off" value="Morning"> Morning';
									html +='</label>';
									html +='<label class="btn btn-outline-secondary selection">';
										html +='<input type="radio" name="options_end_'+date_range[i]+'" id="option2" autocomplete="off" checked="" value="Evening"> Evening';
									html +='</label>';
								} else{
									html +=  '<input class="form-control table-input" type="text" name="end_hour_'+date_range[i]+'" value="'+((response.end_times_hours[i] !== null && response.end_times_hours[i] !== undefined) ? (response.end_times_hours[i]-12) : '')+'"/>';
									html +=  '<input class="form-control table-input" type="text" name="ending_min_'+date_range[i]+'" value="'+((response.end_times_minutes[i] !== null && response.end_times_minutes[i] !== undefined) ? response.end_times_minutes[i] : '')+'"/>';
									html +=  '<div class="btn-group btn-group-toggle" data-toggle="buttons">';									
									html +=	'<label class="btn btn-outline-secondary selection ">';
										html +=	'<input type="radio" name="options_end_'+date_range[i]+'" id="option1" autocomplete="off" value="Morning"> Morning';
									html +='</label>';
									html +='<label class="btn btn-outline-secondary selection active">';
										html +='<input type="radio" name="options_end_'+date_range[i]+'" id="option2" autocomplete="off" checked="" value="Evening"> Evening';
									html +='</label>';
								}
							html +='</div>';							
						html += '</div>'
						if(day_range[i]=='Sunday'){
							html+='<th scope="row"><input class="form-control table-input" type="text" name="lunch_'+date_range[i]+'" value="'+(response.lunch_break[i] || '0')+'"/>';
						}else{
							html+='<th scope="row"><input class="form-control table-input" type="text" name="lunch_'+date_range[i]+'" value="'+(response.lunch_break[i] || '30')+'"/>';
						}
					html +='</tr>';
					}
					$('#next-row').html(html);
				},
				error: function(error) {
					console.error('Error:', error);
				}
			});
		}

		function submitTimeData(){
			var csrfToken = $('[name="csrfmiddlewaretoken"]').val();
			var formData = $('#empInfo').serialize();
			formData += '&csrfmiddlewaretoken=' + csrfToken;
			event.preventDefault();
			$.ajax({
				type: 'POST',
				url: 'calculateSalaryAPI',
				data: formData,
				success: function(response) {
					console.log(response);
					$('#success-modal').modal('show');

				},
				error: function(error) {
					console.error('Error:', error);
					$('#failure-modal').modal('show');

				}
			});
		}

		function displaySelectButton(){
			document.getElementById('submit-button').style.display = 'block';
		}
		  
	  </script>
{% endblock %}