{% extends 'base.html' %} 
{% load static %}
{% block title %}Add New Employee {% endblock %} 
{% block content %}
<div class="main-container">
  <div class="pd-ltr-20">
    <div class="container-fluid justify-content-between align-items-center">
      <div>
        <h2>Add New Employee</h2>
        <br />
        <div class="pd-20 card-box mb-30">
          {% comment %}
          <h4 class="text-blue h4">Add New Employee</h4>
          {% endcomment %}
          <div class="clearfix">
            <div class="pull-left"></div>
          </div>
          <form id="register" method="post">
			<div class="form-group">
				<label>Enter Employee Name</label>
				<input
				  class="form-control"
				  type="text"
				  placeholder="Enter Employee Name"
				  name="name"
				/>
      </br>
				<label>Enter Salary Per Hour</label>
				<input
				  class="form-control"
				  type="text"
				  placeholder="Enter Salary Per Hour"
				  name="salary"
				/>        
			</div>
			<button type="button" class="btn btn-primary btn-lg btn p-10" onclick="submitForm()">Register</button>
            {% comment %} 
			<div class="form-group">
              <label>Text</label>
              <input
                class="form-control"
                type="text"
                placeholder="Johnny Brown"
              />
            </div>
            <div class="form-group">
              <label>Email</label>
              <input
                class="form-control"
                value="bootstrap@example.com"
                type="email"
              />
            </div>
            <div class="form-group">
              <label>URL</label>
              <input
                class="form-control"
                value="https://getbootstrap.com"
                type="url"
              />
            </div>
            <div class="form-group">
              <label>Telephone</label>
              <input class="form-control" value="1-(111)-111-1111" type="tel" />
            </div>
            <div class="form-group">
              <label>Password</label>
              <input class="form-control" value="password" type="password" />
            </div>
            <div class="form-group">
              <label>Readonly input</label>
              <input
                class="form-control"
                type="text"
                placeholder="Readonly input here…"
                readonly
              />
            </div>
            <div class="form-group">
              <label>Disabled input</label>
              <input
                type="text"
                class="form-control"
                placeholder="Disabled input"
                disabled=""
              />
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-md-6 col-sm-12">
                  <label class="weight-600">Custom Checkbox</label>
                  <div class="custom-control custom-checkbox mb-5">
                    <input
                      type="checkbox"
                      class="custom-control-input"
                      id="customCheck1"
                    />
                    <label class="custom-control-label" for="customCheck1"
                      >Check this custom checkbox</label
                    >
                  </div>
                  <div class="custom-control custom-checkbox mb-5">
                    <input
                      type="checkbox"
                      class="custom-control-input"
                      id="customCheck2"
                    />
                    <label class="custom-control-label" for="customCheck2"
                      >Check this custom checkbox</label
                    >
                  </div>
                  <div class="custom-control custom-checkbox mb-5">
                    <input
                      type="checkbox"
                      class="custom-control-input"
                      id="customCheck3"
                    />
                    <label class="custom-control-label" for="customCheck3"
                      >Check this custom checkbox</label
                    >
                  </div>
                  <div class="custom-control custom-checkbox mb-5">
                    <input
                      type="checkbox"
                      class="custom-control-input"
                      id="customCheck4"
                    />
                    <label class="custom-control-label" for="customCheck4"
                      >Check this custom checkbox</label
                    >
                  </div>
                </div>
                <div class="col-md-6 col-sm-12">
                  <label class="weight-600">Custom Radio</label>
                  <div class="custom-control custom-radio mb-5">
                    <input
                      type="radio"
                      id="customRadio1"
                      name="customRadio"
                      class="custom-control-input"
                    />
                    <label class="custom-control-label" for="customRadio1"
                      >Toggle this custom radio</label
                    >
                  </div>
                  <div class="custom-control custom-radio mb-5">
                    <input
                      type="radio"
                      id="customRadio2"
                      name="customRadio"
                      class="custom-control-input"
                    />
                    <label class="custom-control-label" for="customRadio2"
                      >Or toggle this other custom radio</label
                    >
                  </div>
                  <div class="custom-control custom-radio mb-5">
                    <input
                      type="radio"
                      id="customRadio3"
                      name="customRadio"
                      class="custom-control-input"
                    />
                    <label class="custom-control-label" for="customRadio3"
                      >Or toggle this other custom radio</label
                    >
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label>Disabled select menu</label>
              <select class="form-control" disabled="">
                <option>Disabled select</option>
              </select>
            </div>
            <div class="form-group">
              <label>input plaintext</label>
              <input
                type="text"
                readonly
                class="form-control-plaintext"
                value="email@example.com"
              />
            </div>
            <div class="form-group">
              <label>Textarea</label>
              <textarea class="form-control"></textarea>
            </div>
            <div class="form-group">
              <label>Help text</label>
              <input type="text" class="form-control" />
              <small class="form-text text-muted">
                Your password must be 8-20 characters long, contain letters and
                numbers, and must not contain spaces, special characters, or
                emoji.
              </small>
            </div>
            <div class="form-group">
              <label>Example file input</label>
              <input
                type="file"
                class="form-control-file form-control height-auto"
              />
            </div>
            <div class="form-group">
              <label>Custom file input</label>
              <div class="custom-file">
                <input type="file" class="custom-file-input" />
                <label class="custom-file-label">Choose file</label>
              </div>
            </div> {% endcomment %}
          </form>
        <br/>
          <form>
          <table class="table table-bordered">
            <thead>
              <tr>
              <th scope="col">EmpName</th>
              <th scope="col">salary_per_hour</th>
              <th scope="col"></th>
              <th scope="col"></th>
              </tr>
            </thead>
            <tbody id="next-row">
  
            </tbody>
            </table>
          </form  >
        </div>
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
        </form>
      </div>
    </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
	<script>
		function submitForm(){
			var csrfToken = $('[name="csrfmiddlewaretoken"]').val();
			var formData = $('#register').serialize();
			formData += '&csrfmiddlewaretoken=' + csrfToken;
			event.preventDefault();
			$.ajax({
        	    type: 'POST',
        	    url: 'registerAPI',
        	    data: formData,
        	    success: function(response) {
        	        console.log(response);
                  location.reload(true);

        	        //window.location.href = redirection_urresponsel;
        	    },
        	    error: function(error) {
        	        console.error('Error:', error);
        	    }
        	});
		}
		
    </script>
    <script>
      document.addEventListener('DOMContentLoaded', function () {
          
          $.ajax({
              type: 'GET',
              url: 'registerAPI',
              success: function(response) {
                  
                  console.log(response);

//                  var emp_name = response.employees.name;
//                  var salary_per_hour = response.employees.salary_per_hour;
//                  console.log(emp_name);
//                  console.log(salary_per_hour);
                  html ='';
                  for (var i = 0; i < response.length; i++) {
                  html +='<tr>';
                    html += '<th scope="row"><div style="display:flex; flex-direction:column;justify-content: center;padding-right: 20px;">'
                      html +=  '<div style="padding:1px">'+response[i].name+'</div>' ;
                    html += '</div></th>'
                    html += '<th scope="row"><div style="display:flex; flex-direction:row;justify-content: space-around;">'
                          html +=  '<input class="form-control table-input" type="text" id="salary'+response[i].name+'" value="'+response[i].salary_per_hour+'"/>';
                      html +='</div></th>';
                     html += '<th scope="row" style="display:flex; justify-content:space-evenly"><button type="button" class="btn btn-primary btn-lg btn p-10"';
                       html +=  'onclick="updateEmployee(\'' + response[i].name + '\')">Update';
                   html +='</button>  <button type="button" class="btn btn-primary btn-lg btn p-10" onclick="deleteEmployee(\'' + response[i].name + '\')">Delete </button> </th>';                  							
                   html += '</tr>'                    
                  }
                  $('#next-row').html(html);   
                                 

              },
              error: function(error) {
                  // Handle error
                  console.error('Error:', error);
              }
          });

  });

  function updateEmployee(name){
    console.log(name);
    console.log(document.getElementById("salary"+name).value);
			var formData = '&name=' + name;
			formData += '&salary=' + document.getElementById("salary"+name).value;
			event.preventDefault();
			$.ajax({
        	    type: 'POST',
        	    url: 'registerAPI',
        	    data: formData,
        	    success: function(response) {
        	        console.log(response);
        	        //window.location.href = redirection_urresponsel;
                  location.reload(true);

        	    },
        	    error: function(error) {
        	        console.error('Error:', error);
        	    }
        	});
  }

  function deleteEmployee(name){
    console.log(name);
    console.log(document.getElementById("salary"+name).value);
			var formData = '&name=' + name;
			$.ajax({
        	    type: 'POST',
        	    url: 'deleteEmployee',
        	    data: formData,
        	    success: function(response) {
        	        console.log(response);
                  location.reload(true);
        	        //window.location.href = redirection_urresponsel;
        	    },
        	    error: function(error) {
        	        console.error('Error:', error);
        	    }
        	});
  }
  </script>
{% endblock %}
