{% extends 'base.html' %} 
{% load static %}
{% block title %}Add New Employee {% endblock %} 
{% block content %}
<div class="main-container">
  <div class="pd-ltr-20">
    <div class="container-fluid justify-content-between align-items-center">
      <div>
        <h2>Add New Employee</h2>

<!-- Modal -->
<div class="modal fade" id="success-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Success</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="location.reload(true);">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Employee Added Successfully
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="failure-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background: rgb(248 155 153);">
        <h5 class="modal-title" id="exampleModalLongTitle">Error</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="location.reload(true);">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Employee Not Added
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="delete-success-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Success</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="location.reload(true);">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Employee Deleted
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="update-success-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Success</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="location.reload(true);">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Employee Details Updated
      </div>
    </div>
  </div>
</div>
       
        <br />
        <div class="pd-20 card-box mb-30">
          <div class="clearfix">
            <div class="pull-left"></div>
          </div>
          <form id="register" method="post">
			<div class="form-group">
				<label>Enter Employee Name</label>
				<input
				  class="form-control"
				  type="text"
				  placeholder="Enter Employee Name"
				  name="name"
				/>
      </br>
				<label>Enter Salary Per Hour</label>
				<input
				  class="form-control"
				  type="text"
				  placeholder="Enter Salary Per Hour"
				  name="salary"
				/>        
			</div>
			<button type="button" class="btn btn-primary btn-lg btn p-10" onclick="submitForm()">Register</button>
          </form>
        <br/>
          <form>
          <table class="table table-bordered">
            <thead>
              <tr>
              <th scope="col">EmpName</th>
              <th scope="col">salary_per_hour</th>
              <th scope="col"></th>
              <th scope="col"></th>
              </tr>
            </thead>
            <tbody id="next-row">
  
            </tbody>
            </table>
          </form  >
        </div>
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
        </form>
      </div>
    </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
	<script>
		function submitForm(){
			var csrfToken = $('[name="csrfmiddlewaretoken"]').val();
			var formData = $('#register').serialize();
			formData += '&csrfmiddlewaretoken=' + csrfToken;
			event.preventDefault();
			$.ajax({
        	    type: 'POST',
        	    url: 'registerAPI',
        	    data: formData,
        	    success: function(response) {
        	        console.log(response);
                  $('#success-modal').modal('show');
                  // location.reload(true);

        	        //window.location.href = redirection_urresponsel;
        	    },
        	    error: function(error) {
                $('#failure-modal').modal('show');
        	        console.error('Error:', error);
        	    }
        	});
		}


		
    </script>
    <script>
      document.addEventListener('DOMContentLoaded', function () {
          
          $.ajax({
              type: 'GET',
              url: 'registerAPI',
              success: function(response) {
                  
                  console.log(response);

//                  var emp_name = response.employees.name;
//                  var salary_per_hour = response.employees.salary_per_hour;
//                  console.log(emp_name);
//                  console.log(salary_per_hour);
                  html ='';
                  for (var i = 0; i < response.length; i++) {
                  html +='<tr>';
                    html += '<th scope="row"><div style="display:flex; flex-direction:column;justify-content: center;padding-right: 20px;">'
                      html +=  '<div style="padding:1px">'+response[i].name+'</div>' ;
                    html += '</div></th>'
                    html += '<th scope="row"><div style="display:flex; flex-direction:row;justify-content: space-around;">'
                          html +=  '<input class="form-control table-input" type="text" id="salary'+response[i].name+'" value="'+response[i].salary_per_hour+'"/>';
                      html +='</div></th>';
                     html += '<th scope="row" style="display:flex; justify-content:space-evenly"><button type="button" class="btn btn-primary btn-lg btn p-10"';
                       html +=  'onclick="updateEmployee(\'' + response[i].name + '\')">Update';
                   html +='</button>  <button type="button" class="btn btn-primary btn-lg btn p-10" style="background-color:red" onclick="deleteEmployee(\'' + response[i].name + '\')">Delete </button> </th>';                  							
                   html += '</tr>'                    
                  }
                  $('#next-row').html(html);   
                                 

              },
              error: function(error) {
                  // Handle error
                  console.error('Error:', error);
              }
          });

  });

  function updateEmployee(name){
    console.log(name);
    console.log(document.getElementById("salary"+name).value);
			var formData = '&name=' + name;
			formData += '&salary=' + document.getElementById("salary"+name).value;
			event.preventDefault();
			$.ajax({
        	    type: 'POST',
        	    url: 'registerAPI',
        	    data: formData,
        	    success: function(response) {
        	        console.log(response);
        	        //window.location.href = redirection_urresponsel;
                  $('#update-success-modal').modal('show');
                  // location.reload(true);

        	    },
        	    error: function(error) {
        	        console.error('Error:', error);
        	    }
        	});
  }

  function deleteEmployee(name){
    console.log(name);
    console.log(document.getElementById("salary"+name).value);
			var formData = '&name=' + name;
			$.ajax({
        	    type: 'POST',
        	    url: 'deleteEmployee',
        	    data: formData,
        	    success: function(response) {
        	        console.log(response);
                  $('#delete-success-modal').modal('show');
                  // location.reload(true);
        	        //window.location.href = redirection_urresponsel;
        	    },
        	    error: function(error) {
        	        console.error('Error:', error);
        	    }
        	});
  }
  </script>
{% endblock %}
